* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, serif;
  font-size: 15px;
}

.mymsg {
  font-size: 20px;
}
#monemail {
  margin-top: 8px;
  position: absolute;
  margin-left: -90px;
  font-size: 20px;
}

.buttonss {
  padding: 6px 0 6px 0;
  font: Bold 13px Arial;
  background: #d34836;
  color: #fff;
  width: 140px;
  border-radius: 2px;
  cursor: pointer;
}
.text2 {
  font-size: 16px;
}
h2 {
  color: #444;
  font-size: 55px;
}
.buttons22 {
  color: #fff;
  padding: 4px 2px;
  text-align: center;
  border-radius: 3px;
  background-color: #ff7a00;
  position: relative;
  bottom: -1px;
}
h3 {
  text-transform: uppercase;
  color: #444;
}
h4 {
  font-size: 24px;
  color: #444;

  text-transform: uppercase;
  margin-bottom: 20px;
}
.clear {
  clear: both;
}
.buttons-1 {
  color: #fff;
  display: block;
  width: 93px;
  height: 38px;
  background: #ff7a00;
  font-size: 23px;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  line-height: 39px;
  font-size: 21px;
}
.text-1 {
  color: #777;
  font-size: 16px;
}
p {
  line-height: 20px;
  color: #777;
}
#steps ul li {
  float: left;
  width: 300px;
  text-align: center;
  padding-top: 140px;
  margin-right: 130px;
}
h1 {
  font-family: "Crete Round", serif;
  font-size: 45px;
  color: #444;
  text-align: center;
  float: left;
  margin-top: 32px;
  margin-left: -180px;
  padding: 15px;
}
header nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}
#main-images {
  background-image: url("/img/main.jpg");
  background-position: center;

  height: 500px;
}
label {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  color: #777;
}
#name {
  margin: 10px;
  font-size: 20px;
  margin-right: 30px;
}
#email {
  margin: 10px;
  font-size: 20px;
  margin-right: -66px;
}
.buttons-3 {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 11px;
  background-color: #028bdd;
  border-style: none;
  border-radius: 3px;
}
#final {
  font-family: "Crete Round", serif;
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-left: 560px;
  padding: 30px;
}
.copy {
  top: 50px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-left: 560px;
  float: left;
  padding: 30px;
  text-align: center;
}
.buttons-2 {
  color: #fff;
  padding: 4px 2px;
  text-align: center;
  border-radius: 3px;
  background-color: #ff7a00;
  position: relative;
  bottom: 0px;
}
#possibilities article {
  width: 460px;
  height: 270px;
  float: left;
  border-radius: 10px;
}

#possibilities {
  background-color: #efefef;
  padding: 90px 0;
  margin-top: -230px;
}

@media screen and (max-width: 1280px) {
  small {
    font-size: 26px;
    font-style: normal;
  }
  footer {
    height: 260px;
    background-color: #444;
    width: 150%;
  }
  .buttons-1 {
    color: #fff;
    display: block;
    width: 168px;
    height: 66px;
    background: #ff7a00;
    font-size: 23px;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    line-height: 50px;
    font-size: 40px;
  }
  #possibilities {
    background-color: #efefef;
    padding: 90px 0;
    margin-top: -230px;
  }

  .buttons-2 {
    color: #fff;
    background-color: #ff7a00;
    padding: 4px 2px;
    text-align: center;
    border-radius: 3px;
    font-size: 24px;
  }
  #possibilities article {
    width: 460px;
    height: 270px;
    float: none;
    margin-bottom: 108px;
    border-radius: 10px;
  }
  p {
    line-height: 20px;
    color: #777;
    font-size: 11px;
  }
  #steps ul li {
    float: none;
    text-align: center;
    padding-top: 140px;
    margin-bottom: 130px;
    width: auto;
  }
  h1 {
    font-family: "Crete Round", serif;
    font-size: 49px;
    color: #444;
    text-align: center;
    float: left;
    margin-top: 32px;
    margin-left: -20px;
    padding: 15px;
  }
  header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 30px;
    font-size: 20px;
  }
  #main-images {
    height: 500px;
    width: 150%;
  }
  label {
    font-weight: bold;
    font-size: 32px;
    margin-right: 18px;
    color: #777;
  }
  #name {
    margin: 10px;
    font-size: 24px;
    margin-right: 30px;
  }
  #email {
    margin: 10px;
    font-size: 24px;
    margin-right: 30px;
  }
  .buttons-3 {
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    padding: 11px;
    background-color: #028bdd;
    border-style: none;
    border-radius: 3px;
  }
  #final {
    font-family: "Crete Round", serif;
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-left: 328px;
    padding: 30px;
  }
  .copy {
    top: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-left: 258px;
    float: left;
    padding: 30px;
    text-align: center;
    font-size: 25px;
  }
  .text2 {
    color: #777;
    font-size: 18px;
  }
  .text-1 {
    color: #777;
    font-size: 22px;
  }
}
.oranges {
  color: #ff7a00;
}

header {
  height: 120px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
}

header nav {
  float: right;
  margin-top: 70px;
  margin-right: -120px;
}
header nav ul li {
  float: left;

  display: inline-block;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
header nav ul li a:hover {
  color: #ff7a00;
}
/* main images premiere images */

#main-images h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 70px 0 40px 0;
  margin-bottom: 20px;
}

.buttons-1:hover {
  background: #02b8dd;
}

/*  FIN DE main images premiere images */

/*  Steps */

#steps ul {
  margin: 280px 28px;
}

#steps h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
#steps-1 {
  background: url("img/steps-icon-1 (2).png") no-repeat top center;
}

#steps-2 {
  background: url("img/steps-icon-2 (1).png") no-repeat top center;
}
#steps-3 {
  background: url("img/steps-icon-3 (1).png") no-repeat top center;
}

/*  FIN  de steps */

/*  debut de possibilites DE main images premiere images */

#possibilities article:first-child {
  margin-right: 20px;
}

#overlay {
  background: rgba(255, 255, 255, 0.95);
  height: 100%;
  width: 190px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
article h4 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

small {
  font-size: 12px;
  font-style: italic;
}

.buttons-2:hover {
  background: #02b8dd;
}
#possibilities p {
  margin-bottom: 20px;
}

/*  fin de possebilities



DEBUT DE CONTACT


*/

#contact h3 {
  font-size: 30px;
  margin: 283px auto 18px auto;
}

#contact {
  text-align: center;
  padding-bottom: 60px;
}

form {
  margin: 60px 0 20px 0;
}

.buttons-3:hover {
  background-color: #444;
}
footer {
  height: 260px;
  background-color: #444;
  position: absolute;
  /* margin-top: -18px; */
  margin-top: 1300px;
}

footer span #end {
  text-align: center;
  top: 50px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-left: 560px;
  float: left;
  padding: 0;
}
/*

media queries

*/

.caravanes1 {
  background-image: url("img/article-image-1 (1).jpg");
}

.caravanes2 {
  background-image: url("img/article-image-2 (1).jpg");
}

/*
FORMULAIRE DE LA PAGE CONTACT



*/

form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

#name {
  margin: -6px;
  font-size: 20px;
  margin-right: 11px;
  /*
Pour regler le chaamps de nom
*/
}

.imgcontact {
  background-image: url("./");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
